@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	color:#222328
}
.bin{
    width: 1000px;
    height: 250px;
}
.top{
    width: 1000px;
}
.IN{
    width: 200px;
    left: 50%;
    top: 50%;
}